*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("../fonts/BarlowSemiCondensed-SemiBold.ttf");
  src: url("../fonts/BarlowSemiCondensed-Bold.ttf");
  src: url("../fonts/BarlowSemiCondensed-Light.ttf");
  src: url("../fonts/BarlowSemiCondensed-Regular.ttf");
}
.header {
  display: flex;
  justify-content: space-between;
  border: 3px solid #606e85;
  border-radius: 20px;
  padding: 15px 20px;
}

.logo-container {
  padding: 12px 0 0 10px;
}

.score-container {
  width: 150px;
  background-color: #fff;
  text-align: center;
  padding: 23px 0 0 0;
  border-radius: 10px;
}
.score-container .score-text {
  color: #2a46c0;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.score-container .score-value {
  font-size: 4.5rem;
  color: #3b4363;
  margin-top: -5px;
  font-weight: 700;
}

@media (max-width: 380px) {
  .logo-container img {
    width: 100px;
  }
  .header {
    border-radius: 10px;
    padding: 10px 15px;
  }
  .score-container {
    width: 35%;
    padding: 12px 0 0 0;
    border-radius: 5px;
  }
  .score-container .score-text {
    font-size: 0.95rem;
  }
  .score-container .score-value {
    font-size: 3rem;
  }
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle, #1f3756, #141539);
}

.app {
  width: 70%;
  padding-top: 50px;
}

@media (max-width: 380px) {
  .app {
    width: 90%;
    padding-top: 30px;
  }
}
.moves-container {
  background-image: url("../images/bg-triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  row-gap: 50px;
  justify-content: center;
  width: 65%;
  margin: 90px auto 0 auto;
}

.move {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: inset 0 8px 0 #dfdfdf, inset 0 -8px 0 #dfdfdf;
  justify-self: center;
  cursor: pointer;
}

.paper {
  border: 21px solid #5671f5;
}

.scissors {
  border: 21px solid #eca922;
}

.rock {
  border: 21px solid #dd405d;
  grid-column: span 2;
}

@media (max-width: 380px) {
  .moves-container {
    width: 100%;
    background-size: 70%;
    margin-top: 50px;
  }
  .move {
    width: 115px;
    height: 115px;
    border-width: 15px;
    justify-self: start;
  }
  .move img {
    width: 40px;
  }
  .rock {
    justify-self: center;
  }
  .scissors {
    justify-self: end;
  }
}
.rules-btn-container {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.rules-btn-container .rules-btn {
  background: transparent;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #e9e9e9;
  padding: 0.6em 2.6em;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s linear;
}
.rules-btn-container .rules-btn:hover {
  background-color: #e9e9e9;
  color: #2a46c0;
}

@media (max-width: 380px) {
  .rules-btn-container {
    right: 30%;
    bottom: 15px;
  }
  .rules-btn-container .rules-btn:hover {
    background-color: transparent;
    color: #e9e9e9;
  }
}
body {
  font-family: "Barlow Semi Condensed";
}/*# sourceMappingURL=main.css.map */